body {
  font-size: 14px;
}

input[type="radio"] {
  display: none;
}

.custom-radio {
  position: relative;
  padding: 0 0 0 30px;
}
.custom-radio:after,
.custom-radio:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
}
.custom-radio:after {
  left: 0;
  margin-top: -10px;
  width: 18px;
  height: 18px;
  border: 2px solid #D5D5D5;
  border-radius: 50%;
}
.custom-radio:before {
  left: 4px;
  margin-top: -6px;
  width: 10px;
  height: 10px;
  background: #f20d1e;
  border-radius: 50%;
  opacity: 0;
}
input[type="radio"]:checked + .custom-radio:before {
  opacity: 1;
}
input[type="radio"]:checked + .custom-radio:after {
  border-color: #f20d1e;
}

.custom-radio.width-fixed {
    width: 18px;
}

.pilot:checked + label {
    background: rgba(242, 13, 30, 0.1);
    border-color: #F20D1E !important;
}